using AgToolkit.Core.GameMode;
using System;
using UnityEngine;

[Serializable]
public class #CLASSNAME#Data : IGameStateData
{

}

public class #CLASSNAME#GameState : GameStateMonoBehaviour<#CLASSNAME#Data>
{

}